services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: "${POSTGRES_USER:-scmbr}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD:-subscription-aggregator}"
      POSTGRES_DB:  "${POSTGRES_DB:-subscription-aggregator}"
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-scmbr} -d ${POSTGRES_DB:-subscription-aggregator}"]
      interval: 10s
      timeout: 5s
      retries: 10

    volumes:
      - postgres_data:/var/lib/postgresql/data
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      POSTGRES_USER: "${POSTGRES_USER:-scmbr}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD:-subscription-aggregator}"
      POSTGRES_DB: "${POSTGRES_DB:-subscription-aggregator}"
    volumes:
      - ./configs:/app/configs:ro